@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeZoom {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.03);
  }
}

.animate-fadeZoom {
  animation: fadeZoom 3s ease-in-out;
}